Repository ShSato4JPN/world-of-zono-v3: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: add sass stylelint and fix css file path
  .stylelintrc.json
  package-lock.json
  package.json
  src/app/globals.scss
  src/app/layout.tsx
  src/app/page.module.scss
  src/app/page.tsx
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: add eslint plugins
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat: add stylelint-config-clean-order
  .stylelintrc.json
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat: reconfigure eslint for sort-imports
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

feat: add Footer component
  package-lock.json
  package.json
  src/components/Footer/index.tsx
  src/components/Footer/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix: feader footer theme-toggle
  src/components/Footer/style.module.scss
  src/components/Header/index.tsx
  src/components/Header/style.module.scss
  src/components/ThemeToggle/index.tsx
  src/components/ThemeToggle/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix: feader footer theme-toggle
  src/components/Footer/style.module.scss
  src/components/Header/index.tsx
  src/components/Header/style.module.scss
  src/components/ThemeToggle/index.tsx
  src/components/ThemeToggle/style.module.scss
  src/components/Top/index.tsx
  src/components/Top/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: add contentful api routes and libs
  package-lock.json
  package.json
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/libs/client-management.ts
  src/libs/client.ts
Due: prettier --ignore-unknown --write

feat: add infinite scroll
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write

fix: header and theme-toggle
  package-lock.json
  package.json
  src/components/Header/index.tsx
  src/components/ThemeToggle/index.tsx
  src/components/ThemeToggle/menu.module.scss
  src/components/ThemeToggle/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: add layout component
  src/components/Layout/index.tsx
  src/components/Layout/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: add BlogTop
  package-lock.json
  package.json
  src/components/BlogTop/index.tsx
  src/components/BlogTop/style.module.scss
  src/components/BookmarkStar/index.tsx
  src/components/SwrConfig/index.tsx
  src/components/ThemeToggle/index.tsx
  src/components/ThemeToggle/menu.module.scss
  src/components/ThemeToggle/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: add bolg pages
  .stylelintrc.json
  package-lock.json
  package.json
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/app/blog/[id]/page.tsx
  src/app/blog/page.tsx
  src/app/bookmark/page.tsx
  src/components/ArticleViewer/index.tsx
  src/components/ArticleViewer/stackoverflow-dark.css
  src/components/ArticleViewer/style.css
  src/components/ArticleViewer/style.module.scss
  src/components/BlogPost/index.tsx
  src/components/BlogPost/style.module.scss
  src/components/BookmarkStar/index.tsx
  src/components/BookmarkTop/index.tsx
  src/components/BookmarkTop/style.module.scss
  src/components/ProfileTop/index.tsx
  src/libs/fetcher.ts
  src/libs/utils.ts
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: add contact form
  package-lock.json
  package.json
  src/app/api/mail/route.ts
  src/app/contact/page.tsx
  src/app/globals.scss
  src/components/ContactTop/index.tsx
  src/components/ContactTop/style.module.scss
  src/libs/client-nodemailer.ts
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix: blog page
  src/components/BlogPost/index.tsx
  src/components/BlogPost/style.module.scss
  src/components/BlogTop/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: add loading spinner to the bookmark
  src/app/layout.tsx
  src/components/BookmarkTop/index.tsx
  src/components/BookmarkTop/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: add profile page
  .gitignore
  public/profile.svg
  src/app/profile/page.tsx
  src/components/Header/index.tsx
  src/components/ProfileTop/index.tsx
  src/components/ProfileTop/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix: style adjustment
  src/app/globals.scss
  src/app/page.module.scss
  src/app/page.tsx
  src/components/BlogPost/index.tsx
  src/components/BlogPost/style.module.scss
  src/components/BookmarkTop/index.tsx
  src/components/BookmarkTop/style.module.scss
  src/components/ContactTop/style.module.scss
  src/components/Header/index.tsx
  src/components/Header/style.module.scss
  src/components/ProfileTop/index.tsx
  src/components/ProfileTop/style.module.scss
  src/components/ThemeToggle/index.tsx
  src/components/ThemeToggle/style.module.scss
  src/components/Top/index.tsx
  src/components/Top/style.module.scss
  src/components/WozTop/index.tsx
  src/components/WozTop/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix: style adjustment part 2
  src/app/blog/[id]/page.tsx
  src/app/globals.scss
  src/app/layout.tsx
  src/components/BlogPost/index.tsx
  src/components/BlogPost/style.module.scss
  src/components/BlogTop/index.tsx
  src/components/BlogTop/style.module.scss
  src/components/BookmarkTop/index.tsx
  src/components/BookmarkTop/style.module.scss
  src/components/ContactTop/style.module.scss
  src/components/GoogleAnalytics/index.tsx
  src/components/Header/style.module.scss
  src/components/ProfileTop/index.tsx
  src/components/ProfileTop/style.module.scss
  src/components/WozTop/index.tsx
  src/components/WozTop/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: add target blank and noopener to external links
  src/components/ProfileTop/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: add google analytics and og tags
  public/next.svg
  public/og-image.png
  public/og-image.webp
  public/vercel.svg
  src/app/blog/[id]/page.tsx
  src/app/favicon.ico
  src/app/layout.tsx
  src/components/GoogleAnalytics/index.tsx
  src/libs/gtagHelpter.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: build error
  src/app/api/mail/route.ts
  src/components/ContactTop/index.tsx
  src/components/ThemeToggle/index.tsx
  src/components/ThemeToggle/style.module.scss
  src/libs/nodemailer-client.ts
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix: build errors
  src/components/BlogTop/index.tsx
  src/components/WozTop/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

test: deployment error handling
  backup/blog/[id]/page.tsx
  backup/blog/page.tsx
  backup/bookmark/page.tsx
  backup/contact/page.tsx
  backup/page.module.scss
  backup/page.tsx
  backup/profile/page.tsx
  src/app/page.tsx
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

test: redeploy backup files
  src/app/blog/[id]/page.tsx
  src/app/blog/page.tsx
  src/app/bookmark/page.tsx
  src/app/contact/page.tsx
  src/app/profile/page.tsx
Due: prettier --ignore-unknown --write, eslint --fix

fix: blog default size width 100%
  src/components/BlogTop/style.module.scss
  src/components/WozTop/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix: article styles
  src/components/ArticleViewer/style.css
  src/libs/utils.ts
Due: prettier --ignore-unknown --write

fix: delete backup files and ogi mage path
  backup/blog/[id]/page.tsx
  backup/blog/page.tsx
  backup/bookmark/page.tsx
  backup/contact/page.tsx
  backup/page.module.scss
  backup/page.tsx
  backup/profile/page.tsx
  src/app/blog/[id]/page.tsx
  src/app/layout.tsx
  src/components/ThemeToggle/index.tsx
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix: adjust Style
  src/components/BlogPost/style.module.scss
  src/components/ThemeToggle/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix

fix: orresponding to react hydration error and styles
  src/components/BlogPost/index.tsx
  src/components/BlogPost/style.module.scss
  src/components/BlogTop/index.tsx
  src/components/BlogTop/style.module.scss
  src/components/BookmarkTop/index.tsx
  src/components/BookmarkTop/style.module.scss
  src/components/WozTop/index.tsx
  src/components/WozTop/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: add tag search
  src/app/api/posts/tags/[name]/route.ts
  src/app/blog/tag/[name]/page.tsx
  src/components/BlogPost/index.tsx
  src/components/BlogTags/index.tsx
  src/components/BlogTags/style.module.scss
  src/components/BookmarkTop/index.tsx
  src/components/WozTop/index.tsx
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: add preview mode
  src/app/api/preview/[id]/route.ts
  src/app/preview/[id]/page.tsx
  src/components/ArticleViewer/style.css
  src/components/BlogPreview/index.tsx
  src/components/BlogPreview/style.module.scss
  src/libs/client-management.ts
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix: change tags api route
  src/app/api/tags/[name]/route.ts
  src/app/blog/tag/[name]/page.tsx
  src/components/BlogTags/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: add contact form
  package-lock.json
  package.json
  src/app/api/mail/route.ts
  src/components/ContactTop/index.tsx
  src/components/ContactTop/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: transfer to cookie update hooks
  src/components/BlogPost/index.tsx
  src/components/BlogTags/index.tsx
  src/components/BlogTop/index.tsx
  src/components/BookmarkTop/index.tsx
  src/components/WozTop/index.tsx
  src/hooks/useCookie.ts
Due: prettier --ignore-unknown --write, eslint --fix

fix: improved UI
  src/components/BlogTags/index.tsx
  src/components/BlogTags/style.module.scss
  src/components/BlogTop/index.tsx
  src/components/BlogTop/style.module.scss
  src/components/BookmarkTop/index.tsx
  src/components/BookmarkTop/style.module.scss
  src/components/WozTop/index.tsx
  src/components/WozTop/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix: further UI fixes
  src/components/BlogTags/index.tsx
  src/components/BlogTags/style.module.scss
  src/components/BlogTop/index.tsx
  src/components/BlogTop/style.module.scss
  src/components/BookmarkTop/index.tsx
  src/components/BookmarkTop/style.module.scss
  src/components/WozTop/index.tsx
  src/components/WozTop/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: adjust the style around the article
  public/icon-dark.svg
  public/icon-light.svg
  src/app/api/preview/[id]/route.ts
  src/components/ArticleViewer/style.css
  src/components/BlogPost/style.module.scss
  src/components/BlogPreview/style.module.scss
  src/components/BlogTags/index.tsx
  src/components/BlogTags/style.module.scss
  src/components/BlogTop/style.module.scss
  src/components/BookmarkTop/style.module.scss
  src/components/ProfileTop/index.tsx
  src/components/WozTop/index.tsx
  src/components/WozTop/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

feat: image style on aritcle page
  src/components/ArticleViewer/style.css
Due: prettier --ignore-unknown --write

feat: add site name aftre title
  src/app/blog/[id]/page.tsx
Due: prettier --ignore-unknown --write, eslint --fix

Path conditions:
  prettier --ignore-unknown --write: any of: *
  stylelint --fix: any of: **/*.scss
  eslint --fix: any of: **/*.{tsx,tx}
