Repository ShSato4JPN/world-of-zono-v3: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

.lintstagedrc.json:

{
  "*": "prettier --ignore-unknown --write",
  "**/*.scss": "stylelint --fix",
  "**/*.{tsx,tx}": "eslint --fix"
}

feat: use string-strip-html to remove html tags from the description
  package-lock.json
  package.json
  src/app/blog/[id]/page.tsx
  src/components/ArticleViewer/index.tsx
  src/components/BlogTags/index.tsx
  src/components/BlogTop/index.tsx
  src/components/BookmarkTop/index.tsx
  src/components/WozTop/index.tsx
  src/libs/utils.ts
Due: prettier --ignore-unknown --write, eslint --fix

feat: add bookmark button action then hover
  src/components/BlogPost/index.tsx
  src/components/BlogPost/style.module.scss
  src/components/BlogTags/index.tsx
  src/components/BlogTags/style.module.scss
  src/components/BlogTop/index.tsx
  src/components/BlogTop/style.module.scss
  src/components/BookmarkTop/index.tsx
  src/components/BookmarkTop/style.module.scss
  src/components/WozTop/index.tsx
  src/components/WozTop/style.module.scss
Due: prettier --ignore-unknown --write, stylelint --fix, eslint --fix

fix: delete wantedly icon
  src/components/ProfileTop/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix

feat: add code style
  src/components/ArticleViewer/style.css
Due: prettier --ignore-unknown --write

feat: add some styles to the article viewer
  src/components/ArticleViewer/style.css
Due: prettier --ignore-unknown --write

feat: add styles
  package-lock.json
  src/components/ArticleViewer/style.css
Due: prettier --ignore-unknown --write

feat: add json hilighting
  src/components/ArticleViewer/index.tsx
Due: prettier --ignore-unknown --write, eslint --fix
